.card{
    max-height: 300px;
    max-width: 300px; 
    height: auto;
    max-width: 100%;
    margin: .5rem;
    box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
    display: grid;
}

.venuePhoto{
    max-width: 100%;
    height: auto;
}

.modal, .venuePhoto{
    grid-column: 1;
    grid-row: 1;
  }

.modal {
    height: inherit;
    width: inherit;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-content: center;
  }

  .modal-content {
    display: flex;
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid;
    width: 65%;
    font-weight: 600;
  }